.underline-transition::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease-out;
}

.group:hover .underline-transition::after {
    width: 100%;
}
